div,
input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a:link,
a:visited {
  color: #000;
}
img {
  max-width: 100%;
  width: 100%\9;
  height: auto;
}
tr.odd {
  background: #eee;
}
tr.even {
  background: #d3e1ef;
}
.view-content .item-list ul {
  padding: 0;
  margin: 0;
  list-style-type: decimal-leading-zero;
  list-style-position: inside;
}
.view-content .item-list li {
  padding: 8px;
  background: #eee;
}
.view-content .item-list li:nth-child(even) {
  background: #d3e1ef;
}
#page-wrapper {
  padding-bottom: 40px;
  background: url(../images/bodyBg.jpg);
}
#page {
  width: 960px;
  margin: 0 auto;
  background: #fff;
}
#main-menu-links {
  background: #3576b1;
}
#header .region-header {
  float: none;
  background: #003a66;
  margin: 0;
  padding: 8px 0;
}
#header .region-header .block {
  float: none;
  text-align: right;
}
#header .region-header a {
  display: inline-block;
  margin-left: 20px;
  color: #fff;
}
#header .region-header br {
  display: none;
}
#header-fontsizer {
  font-size: 20px;
}
.resetFont {
  display: none !important;
}
.header-image img {
  /*max-width: 100%;*/
  width: 100%;
  height: auto;
  display: block;
}
#main-menu {
  background: #333;
}
#footer-wrapper {
  background-color: #3576b1;
  padding-top: 10px;
}
#footer {
  margin-top: 0;
  border-top: 0;
}
#footer .region {
  margin-top: 0;
}
#block-block-1 .content {
  text-align: center;
}
.panel-pane {
  border: 1px solid #3576b1;
}
h2.pane-title {
  color: #000;
  padding: 5px 8px;
  background: #cfeaf5;
  border-bottom: 3px solid #3576b1;
  text-align: center;
}
#content .pane-title {
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: 0;
}
.more-link {
  padding: 10px;
  text-align: center;
  background: #cfeaf5;
}
.pane-content {
  padding: 10px;
}
.pane-content .pane-title {
  background: none;
  border: none;
  padding: 0 8px;
}
.pane-content .panel-pane {
  border: none;
}
.pane-zslib-zslib-user-login {
  background: #3171ac;
  color: #fff;
}
.pane-zslib-zslib-user-login .pane-title {
  padding: 15px 5px 5px;
  margin: 5px;
  border: none;
  border-bottom: 2px solid #cfeaf5;
  background: none;
  color: #fff;
}
.pane-zslib-zslib-user-login .form-text {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
.pane-zslib-zslib-user-login .form-actions {
  text-align: center;
}

.pane-user-login {
  background: #3171ac;
  color: #fff;
}
.pane-user-login .pane-title {
  padding: 15px 5px 5px;
  margin: 5px;
  border: none;
  border-bottom: 2px solid #cfeaf5;
  background: none;
  color: #fff;
}
.pane-user-login .form-text {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
.pane-user-login .form-actions {
  text-align: center;
}
.pane-user-login a{
  color: #fff;
}

.page-service-info .pane-content {
  padding: 0;
}
.page-service-info .pane-content .views-table {
  margin: 0;
}
.page-service-info .pane-content .views-table td {
  padding: 8px;
}
.page-service-info .pane-content .views-table td a {
  /*margin: 0;*/
  /*border: none;*/
  color: #000;
  font-weight: bold;
}
.page-links .view-content .item-list ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.page-links .view-content .item-list li {
  display: inline-block;
  padding: 0;
  margin: 5px 0px 15px;
  width: 32%;
  vertical-align: top;
  background: none;
}
.page-links .view-content .item-list li a {
  display: block;
  padding: 3px 16px 3px 0px;
  color: #000;
}
.page-links .pane-content .pane-title {
  font-weight: bold;
}
.page-links .pane-content .pane-content {
  padding-top: 0;
}
#mini-panel-related_links .pane-title {
  text-align: left;
  padding: 0 0 5px 0;
  margin: 0 10px 5px;
  border-bottom: 1px solid #333;
  font-size: 1.15em;
}
.pane-related-knowledge .pane-content {
  padding: 0;
}
.pane-related-knowledge .panels-flexible-region {
  width: 100%;
}
#related_knowledge .ui-icon {
  display: none;
}
/*#related_knowledge .pane-title { padding: 8px; background: #3576b1; }*/
#related_knowledge .pane-title {
  padding: 8px;
  border-radius: 0;
}
#related_knowledge .pane-title.ui-state-hover,
#related_knowledge .pane-title.ui-state-active {
  background: #3576b1;
}
#related_knowledge .pane-views.ui-state-hover {
  padding: 8px;
  background: #3576b1;
}
#related_knowledge .pane-views {
  background: #eee;
}
#related_knowledge .pane-views:nth-child(odd) {
  background: #d3e1ef;
}
.view-online-listening .view-content > div {
  display: inline-block;
  width: 49%;
  vertical-align: top;
}
.view-online-listening .panel-display {
  padding: 15px;
}
.view-online-listening .panel-col-top {
  border-bottom: 1px solid #333;
  margin-bottom: 10px;
}
.view-online-listening .panel-col-top a {
  border-left: 5px solid #3576b1;
  padding-left: 5px;
}
.view-online-listening .panel-col-first {
  width: 25%;
}
.view-online-listening .panel-col-last {
  width: 75%;
}
.node-message-form {
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  background: #eee;
}
.node-message-form .panel-pane {
  border: none;
}
.node-message-form .form-item {
  margin-bottom: 0;
}
.node-message-form .form-actions {
  margin: 0;
  padding: 0;
  text-align: center;
}
.node-message-form .form-submit {
  background: #3576b1;
  color: #fff;
}
.node-message-form .form-text,
.node-message-form .form-textarea {
  width: 100%;
}
.node-message-form .form-textarea {
  resize: none;
}
.node-message-form .grippie {
  display: none;
}
.node-message-form .panel-separator {
  display: none;
}
