﻿/* CSS Document */

body, td, th
{
	font-family: 宋体;
	font-size: 12px;
	color: #165b96;
}
body
{
	margin-top: 0px;
	text-align: left;
	margin: 0 auto;
	font-family: "宋体" , "Times New Roman" , Times, serif;
	font-size: 12px;
	line-height: 1.5em;
	color: #165b96;
	background: url(../images/bodyBg.jpg) repeat;
}
a
{
	font-family: 宋体;
	color: #333333;
	text-decoration: none;
}
a:visited
{
	color: #333333;
	text-decoration: none;
}
a:hover
{
	color: Red;
	text-decoration: none;
}
a:active
{
	color: Red;
}
a.sourcelist
{
	font-family: 宋体;
	color: #066095;
	text-decoration: none;
}
a.sourcelist:visited
{
	color: #066095;
	text-decoration: none;
}
a.sourcelist:hover
{
	color: Red;
	text-decoration: none;
}
a.sourcelist:active
{
	color: Red;
}
a.sourcelist1
{
	font-family: 宋体;
	color: #066F73;
	text-decoration: none;
}
a.sourcelist1:visited
{
	color: #066F73;
	text-decoration: none;
}
a.sourcelist1:hover
{
	color: Red;
	text-decoration: none;
}
a.sourcelist1:active
{
	color: Red;
}
.STYLE1
{
	color: #c0e6ff;
}
.STYLE3
{
	color: #c0e6ff;
	font-family: Arial, Helvetica, sans-serif;
}
.STYLE6
{
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
}

.STYLE12
{
	font-family: "宋体";
	color: #004382;
	font-weight: bold;
	font-size: 14px;
}
.STYLE13
{
	color: #5ba2de;
}
.STYLE14
{
	color: #333333;
}
.STYLE15
{
	color: #f37901;
}
.STYLE16
{
	color: #066095;
}
.STYLE22
{
	color: #165b96;
	font-family: "宋体";
	font-weight: bold;
}
.STYLE23
{
	color: #165b96;
	font-family: Arial, Helvetica, sans-serif;
}
.STYLE24
{
	font-size: 14px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	color: #165b96;
}
.STYLE26
{
	color: #e49100;
}
.STYLE27
{
	color: #004382;
	font-size: 14px;
	font-family: "宋体";
}
.STYLE29
{
	color: #165b96;
	font-family: "宋体";
}
.STYLE30
{
	font-family: "宋体";
}
.STYLE31
{
	color: #FFFFFF;
	font-family: "宋体";
	font-weight: bold;
	font-size: 14px;
}
.STYLE32
{
	color: #FFFFFF;
}
.STYLE33
{
	font-family: "宋体";
	font-size: 14px;
	font-weight: bold;
	color: #154b87;
}
.yellow1
{
	background-image: url(../images/gdst_17.jpg);
	background-repeat: repeat-x;
	background-position: top;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #b7b19c;
	border-bottom-color: #b7b19c;
	border-left-color: #b7b19c;
}
.yellow
{
	background-image: url(../images/en/gdst_english_29.jpg);
	background-repeat: repeat-x;
	background-position: top;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #b7b19c;
	border-bottom-color: #b7b19c;
	border-left-color: #b7b19c;
}
.green1
{
	background-image: url(../images/gdst_33.jpg);
	background-repeat: repeat-x;
	background-position: top;
	height: 175px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #c6e0f6;
	border-bottom-color: #c6e0f6;
	border-left-color: #c6e0f6;
}
.green
{
	background-image: url(../images/en/gdst_english_50.jpg);
	background-repeat: repeat-x;
	background-position: top;
	height: 175px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #c6e0f6;
	border-bottom-color: #c6e0f6;
	border-left-color: #c6e0f6;
}
.blue
{
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #c6e0f6;
	border-bottom-color: #c6e0f6;
	border-left-color: #c6e0f6;
}
.blue1
{
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #c6e0f6;
	border-bottom-color: #c6e0f6;
	border-left-color: #c6e0f6;
	background-image: url(../images/gdst_english_94.jpg);
	background-repeat: no-repeat;
	background-position: right top;
}
.blue2
{
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #c6e0f6;
	border-bottom-color: #c6e0f6;
	border-left-color: #c6e0f6;
	background-image: url(../images/gdst_english_91.jpg);
	background-repeat: no-repeat;
	background-position: right top;
}
.white
{
	font-family: "宋体";
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	color: #FFFFFF;
}
a.awhite
{
	font-family: "宋体";
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	color: #FFFFFF;
}
a.awhite:visited
{
	color: #FFFFFF;
	text-decoration: none;
}
a.awhite:hover
{
	color: Red;
	text-decoration: none;
}
a.awhite:active
{
	color: Red;
}

.footer1
{
	font-family: "宋体";
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	color: #FFFFFF;
}
.line
{
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #165b96;
}

.nav{ height:31px; padding-left:65px;}
.nav a{ float:left; height:31px; width:82px; text-align:center; line-height:31px; font-size:14px; color:#DFEDF8; font-weight:bold; margin:0 3px;}
.nav a:hover{ color:#094AB2; background: url(../images/ah.jpg) no-repeat;}
.nav .ah{ color:#094AB2; background:url(../images/ah.jpg) no-repeat;}