@charset "utf-8";
#winpop {
	height:0px;
	position:absolute;
	right:0px;
	bottom:0px;
	/*border:1px solid #B5CBE7;*/
	border:1px solid #CADEFF;
	margin:0;
	padding:1px;
	overflow:hidden;
	background-color: #fff;
}
#winpop .title {
	width:100%;
	height:20px;
	line-height:20px;
	font-weight:bold;
	text-align:center;
	font-size:12px;
	/*background-color:#C5D7ED*/
	background-image:url(tab08-04_1.jpg);
}

#winpop .title span{}

#winpop .con { font-size:12px; text-align:left; padding:5px;
background-color:#e0f8fe}
#winpop p{margin:4px}
#silu { font-size:13px; color:#999999; position:absolute; right:0; text-align:right; text-decoration:underline; line-height:22px;}
.close { position:absolute; right:4px; top:-1px; color:#000; cursor:pointer}
